
.wrapperhomenew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1abc9c;
  color: white;
}

.separator {
  width: 100px;
  height: 5px;
  background-color: white;
}
