.footer_wrapper{
    background-color: #2c3e50;
    color: white !important;
    width: 100%;
    
}
.icon{
    border: solid 2px gray;
  font-size: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
display: flex;
justify-content: center;
align-items: center;
}