

.active{
   
background-color: #1abc9c;
border-radius: 10px;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;

}

/* 
.wrapperhomenew {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #1abc9c !important;
  color: white !important;
} */